<%- include("partials/header") %>

    <div class="login">
        <section class="intro1">
            <h1 class= "center-title">Project Title</h1>
            <p class= "center-content">This is the website which contains the task schedular and personal space . </p>
            <p class= "center-content">Login or Register to Continue </p>
            <div class="cen-btn">
                <a href="/login" class="BS">Login</a>
                <a href="/register" class="BS">Register</a>
            </div>  
            </section>
    </div>

