<%- include("partials/header") %>

<div class="login">
    <section class="intro1">
        <h1 class= "center-title">Two options</h1>
        <p class= "center-content">This is the website which contains the task schedular and personal space . </p>
        <p class= "center-content">Choose between the options</p>
        <div class="cen-btn">
            <a href="/home_ps" class="BS">Personal Space</a>
        </div>  
        <div class="cen-btn">
            <a href="/home_task" class="BS">Task Schedular</a>
        </div> 
        </section>
</div>
<!-- <%- include("partials/footer") %> -->
