<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Personal Space</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style_ps.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="font-size: 2rem;">Personal Space</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/webpage" style="font-size: 1.5rem;">HOME</a></li>
          
          <li id="contact"><a href="/compose" style="font-size: 1.5rem;">ADD</a></li>
          <li id="contact"><a href="/logout" style="font-size: 1.5rem;">LOGOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
